@font-face {
    font-family: holy;
    src: url(fuente/holysthic/Holysthic.ttf);
}




body{
    background-color: rgb(100, 100, 100);
    padding: 5em;
}

.texto1{
    font-size: 150px;
    text-align: center;
    font-family: holy ;
}

.texto2 {
    font-size: 50px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.texto3 {
    font-size: 40px;

}
.texto4 {
    background-color: rgb(65, 63, 63);
    padding-bottom: 40px;
}
.texto5 {
    background-color: rgb(240, 190, 209);
}
.texto6 {
    font-size: 60px ;
    text-align: center;
    font-family: 'Holysthic';
}
.texto7 {
    background-color: violet;
    border-radius: 20px;
}
.texto8 {
    background-color: sandybrown;
    font-size: 45px;


}
.ta{
    background-color: bisque;
    border-radius: 30px;
}
.bordeb {
    border: cadetblue;
    border-radius: 35px;
}
.queso1{
    border-radius: 30px;
}