@font-face {
    font-family: holy;
    src: url(fuente/holysthic/Holysthic.ttf);
}


body{
    background-color: rgb(100, 100, 100);
    padding: 5em;
}

.texto1{
    font-size: 150px;
    text-align: center;
    font-family: holy ;
}

.texto2 {
    font-size: 50px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.texto3 {
    font-size: 40px;

}
.texto4 {
    background-color: rgb(88, 86, 86);
    padding-bottom: 40px;
}
.texto5 {
    background-color: rgb(240, 190, 209);
    border-radius: 20px;
}
.texto6 {
    font-size: 60px ;
    text-align: center;
    font-family: 'Holysthic';
}
.texto7 {
    background-color: violet;
    border-radius: 20px;
}
.texto8 {
    background-color: sandybrown;
    font-size: 45px;


}
.ta{
    background-color: bisque;
    border-radius: 30px;
    width: 100%;
}
.bordeb {
    border: cadetblue;
    border-radius: 35px;
}
.queso1{
    border-radius: 30px;
}


.fondo1{
    background-color: rgb(47, 206, 158);
}
.fondo2{
    background-color: rgb(204, 32, 32);
}
.x1{
    background-color: rgb(33, 143, 55);
}
.tex1{
    padding-right: 100px;
    border: cornsilk 3px solid;
}
.tex2{
    text-align: center;
    padding-left: 350px;
    padding-right: 350px;
    border: cornsilk 3px solid;
}
.tex3{
    padding-top: 200px;
    padding-bottom: 200px;
    padding-right: 200px;
    border: cornsilk 3px solid;
}
.tex4{
    padding-left: 300px;
    padding-right: 300px;
    border: cornsilk 3px solid;
}
.tex5{
    padding-left: 400px;
    padding-right: 380px;
    background-color: blueviolet;
    text-align: center;
    font-family: 'Holy';
    border: cornsilk 3px solid;
    font-size: 25px;
    
}
.b1{
    border: cornsilk 3px solid;
    margin: 3px;
}
.nta{
    
    background-size: cover;
    width: 100%;
}


.forima{
    border-radius: 10px;
}